<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

	<add key="AdyenApiKey" value="AQEhhmfuXNWTK0Qc+iSah3csgOtFp74zGLVV3RXnwO/nZ6nFEMFdWw2+5HzctViMSCJMYAc=-A4yoJBuC+K5SvOwK99ufZyggfXMdG4npLSm0ofce2do=-i1iz{Fe366zPc)8Ej7A" />
	<add key="AdyenBalancePlatformApiKey" value="AQExhmfuXduSOksR5lq8k3A+qPaWBqFYHodtV1Vax2ytkXRGDp+VY2H3z1oqDGvmk6fBsxDBXVsNvuR83LVYjEgiTGAH-io5ushFKydLrZmRPJLrY3xUDcKxV9zhQlkpCIPzAqgA=-i1igC.uSX6a_]AT)G7@" />
	<add key="AdyenLegalEntityApiKey" value="AQEuhmfxKYvPbBRGw1mznXQ96ceURZtMA4p1cnBF0l+ko1uhfButQxB8YMZccfXj7BDBXVsNvuR83LVYjEgiTGAH-knebHmTgd7OnOj6Ghhe3S6eskebZrM3UjtwmGY0r+3Y=-i1i4[t%^@3g^m;G4rBG" />
	<add key="MerchantCode" value="JustGoUK" />
	<add key="AdyenHmacKey" value="5342467757E690C3BE3A7BADF756E7960D444EBD942F079B1B576402641C5286" />
	<add key="AdyenBalancePlatformHmacKey" value="CD9A50A6B9E0959460E3E551638B89AFABD1CE51DED1EE1553BF5C400EAA406B" />


	  <!--<add key="AdyenApiKey" value="AQEjhmfuXNWTK0Qc+iSah3csgOu5fuH1SblH8FxLCSwihphlTwsQwV1bDb7kfNy1WIxIIkxgBw==-ZrVw9VTL2op/B2HbXiozMYVJaWrMjPO9WzngPw993Tk=-i1ibT(xJ.A#f7;3U,NS" />
    <add key="AdyenBalancePlatformApiKey" value="AQEphmfuXduSOksR5lq8k3A+qPaWBqFYHodtVzG3jCerGpZSzu0zCl44KVUQwV1bDb7kfNy1WIxIIkxgBw==-77jQX9rfwoGihjP82xZvW5DuPNfDgcmWo6Zt2s2YnTE=-y2VMX_yI5*MUQtr=" />
    <add key="AdyenLegalEntityApiKey" value="AQEwhmfxKInMbxFKw1mznXQ96ceURZtMA4p1cnBF0l+kvFAAiQssmv+oLmwbSJIOPurzEMFdWw2+5HzctViMSCJMYAc=-RyGRdm5udiEMDSIX8I6UZDry6XsM72p2dHCanA4zG+c=-+xZ^Cy^77A:Eh?;9" />
    <add key="MerchantCode" value="JustGoBVUK" />-->
	  
  </appSettings>
  <!--<connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=HASIBUR-RAHMAN\MSSQLSERVER01;Initial Catalog=AdyenDemo;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
	<connectionStrings>
		<add name="VoyagerConnectionString" connectionString="Server=Voyager;Database=sandbox_testdb123;Authentication=Active Directory Password;User ID=hasibur.rahman@justgo.com;Password=Koxu375062;Encrypt=True;TrustServerCertificate=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.8" />
    <httpRuntime targetFramework="4.8" maxUrlLength="2083"  requestPathInvalidCharacters="" requestValidationMode ="2.0"/>
	<pages validateRequest="false" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Web.Infrastructure" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.1.0" newVersion="2.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.9.0" newVersion="5.2.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.ComponentModel.Annotations" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1.0" newVersion="4.2.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
        <add name="Access-Control-Allow-Headers" value="Content-Type" />
        <add name="Access-Control-Allow-Methods" value="GET, POST, PUT, DELETE, OPTIONS" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>